.home {
    flex-direction: column;
    padding-left: 350px;
    height: fit-content;
    height:100px;
}

.sub-heading > p {
    font-size: 20px;
    padding-left: 355px;
}



a:hover {
    color: pink;
  }

.paragraph > p {
    padding-top: 50px;
    padding-left: 355px;
    padding-right: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
  }

  h1{
    font-size:100px;
}