.nav-bar {
  background: rgb(0, 179, 198);
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  font-size: medium;
}

.nav-bar>ul>li {
  list-style-type: none;
  padding-top: 30px;
  text-align: center;
  padding-right: 50px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ffd700;
  ;
}

.nav-bar>img {
  padding-top: 20px;
  padding-left: 50px;
  width: 200px;
  height: auto;
}