body {
  font-size: medium;
  margin: 0;
  font: 400 11px/1.4 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43;
}